<% provide(:title, "About") %>
<h1>About Ambulance_Racer</h1>
<div class="about-page">
  <p>
  Ambulance_Racer is a open source project aimed at helping those affected by accidents
  and injuries reach out to and receive help from licensed attorneys.  We welcome 
  all feedback including comments, questions, and suggestions. Feel free to reach out to us:
  </p><br>
  <%= link_to "Contact Us", help_path %>
</div>

