<% provide(:title, "Help") %>
<h1>Help</h1>
<p>
  Here would be helpful information on our application
  <a href="https://www.flatiron.com">T & Dave's Help page</a>.
  To get help on this app, see the
  <a href="https://www.flatiron.com"><em>homepage</em>
  </a>.
</p>