<% provide(:title, "Home") %>
<div class="center jumbotron">
<h1>Legal Aid</h1>
<h3>
  Where help is provided to those 
  <a href="http://localhost:3000/signup">in need </a>of assistance.
</h3>
<br><br>
<%= link_to "Create Account", signup_path, class: "btn btn-lg btn-primary" %>
</div>