<% provide(:title, "Home") %>
<div class="center jumbotron">
<div class= "title-card">
<h1>Ambulance_Racer</h1>
<h3>
  Make attorneys come to you...
  <a href="https://www.flatiron.com/">T & Dave's </a>application.
</h3>
<%= link_to "Sign up here!", signup_path, class: "btn btn-lg btn-primary" %>
</div>
</div>