<h1>Lawyers</h1>
<table>
<tr>
  <th>Name</th>
  <th>Telephone</th>
</tr>

<% @users.each do |lawyer| %>

      <tr>
        <td><%= link_to image_tag("img_avatar (1).png", :size => "96x96", :alt => "john-doe"), user_path(lawyer.id) %></td>
        <td><%= link_to lawyer.name, user_path(lawyer.id) %></td>
      </tr>

      <tr>
        <td><%= link_to lawyer.phone_number, user_path(lawyer.id) %></td>   
      </tr>
<% end %>
</table>
        
