<h1>All Requests</h1>

<div>
<table>
<% @requests.each do |req| %>
<tr>
<td><%= link_to req.title, request_path(req.id) %></td>
<td><%= req.client.name unless req.client.nil? %></td>
<td><%= req.created_at.strftime("%b %d, %Y") %></td>
</tr>
<% end %>
</table>
</div>
