<h1>All Requests</h1>

<% @requests.each do |req| %>
<div class="card">
  <a href="#">
    <div class="card-image">

    </div>
  </a>
  <div class="card-description">
    <h4> <%= link_to req.title, request_path(req.id) %> </h5>
      <p>Name: <%= req.client.name unless req.client.nil? %></p>
      <p>Created: <%= req.created_at.strftime("%b %d, %Y") %></p>
  </div>
</div>

<% end %>

