<footer class="footer">
  <small>
     <a href= http://localhost:3000/>Legal Aide</a>
    by <a href="https://github.com/tienphan1989/lawyer_app">Dave Frame & Tien P.</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact", help_path %></li>
      <li><a href="https://github.com/tienphan1989/lawyer_app">Source Code</a></li>
    </ul>
  </nav>
</footer>